<img class="head-image" src="/images/bloomberg.png">
<div class="main">
<h1>Fight the Food Coma</h1>
<p>In fall of 2011 the New York City Department of Health and Mental Hygiene <a href="http://www.nyc.gov/html/doh/html/pr2011/pr026-11.shtml">added map demonstrations</a> to the ongoing &ldquo;Pouring on the Pounds&rdquo; campaign begun under Mayor Michael Bloomberg. The posters called attention to the specific distance you would have to walk between two points in New York City in order to burn off the calories in various sugary drinks. In the same spirit, we wanted to add an interactive aspect to these maps for the New York Times&rsquo; Hack Day 2013.</p>
<p>The interactive map hosted on this site allows you to scan or enter a barcode for your provided food item and determine how far you would need to walk in order to burn off the calories. Places to walk to are provided from the New York Times Events API.</p>
<div class="enter"><a href="#/barcode-search">Get Started</a></div>
</div>